body {
  background: #333;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 250px;
  /*height: 200px;*/
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 400px;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
.border-img {
    border: 5px solid transparent;
    padding: 2px;
    -webkit-border-image: url(../img/border.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/border.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(../img/border.jpg) 30 round;
}

.ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    align-items: center;
  }

.username-info{
  float: right;
  color: red;
}

.background {
  padding: 11px 0px;
  background: #fff;
  background: rgba(255,255,255,0.1);
}

.background2 {
  padding: 25px 0px;
  background: #fff;
  background: rgba(255,255,255,0.1);
}

.homerow2 {
  height: 350px;
}

.homerow3 {
  height: 360px;
}

.eachConsultant{
  width: 200px;
  height:150px;
}

.eachOwner{
  width: 200px;
  height:160px;
}

.image-size{
  height: 100px;
  max-width: 100px;
}

.vertical-center {
  margin-top: 30px;
}

.brand {
  font-family: 'Revalia', cursive !important;
}

.more{
font-family: 'Gloria Hallelujah', cursive;
}

.avatar {
    width:128px;
    margin: 10px;
    border:2px solid hsl(0, 0%, 76%);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.emp {
  text-align: center;
}

.emp1 {
  vertical-align: center !important;
}


.sty{
  color: #9a4628;
  /*font-family: 'Gloria Hallelujah', cursive;*/
}
